<h1>Hi!</h1>
<p>This is a Quick Submission form for MIT's Open Access Collection.</p>
<p>Get started with a <%= link_to('new submission', new_submission_path) %>.</p>
<p>DSpace submission forms remain available if you prefer.</p>
