.submissionUpload {

	.field-text {
	  width: 80%;
	}

}

label.error {
  color: $error;
}

.field_with_errors {
	padding: 2px;
	color: $error;
	display: table;
}

span.hint {
	display: block;
	color: grey;
}

span.checkbox {
	display: block;
	margin-left: 2em;
}

span.checkbox label input {
	margin: 4px;
}

.submission_pub_date label {
	display: block;
}

#submission_pub_date_2i, #submission_pub_date_1i {
	display: inline-block;
}
